In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
df = pd.read_csv('/content/MICE_imputed_df_Aoti (1).csv')
df.head()

,Unnamed: 0,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,Datetime
0,0,4.0,4.0,4.0,7.0,300.0,77.0,8.6,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,3,6.0,6.0,11.0,11.0,300.0,52.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,4,3.0,3.0,9.0,12.0,200.0,72.0,5.4,1023.4,-19.5,0.0,2.0,2013-03-01 04:00:00

In [3]:
df.drop(df.columns[df.columns.str.contains("unnamed",case=False)],axis=1,inplace=True)

In [4]:
# df1 = df.drop(['No'],axis=1)

In [5]:
df.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,Datetime
0,4.0,4.0,4.0,7.0,300.0,77.0,8.6,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,6.0,6.0,11.0,11.0,300.0,52.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,3.0,3.0,9.0,12.0,200.0,72.0,5.4,1023.4,-19.5,0.0,2.0,2013-03-01 04:00:00

In [12]:
df = df.drop('Datetime',axis=1)

In [13]:
# df['Datetime'] = pd.to_datetime(df[['year','month','day','hour']])

In [14]:
# df1 = df.drop(['year','month','day','hour'],axis=1)

In [15]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0   8.6  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  52.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0   9.0  12.0  200.0  72.0   5.4  1023.4 -19.5   0.0   2.0

In [16]:
df.tail()

       PM2.5   PM10   SO2    NO2      CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
25557   43.0   67.0  27.0   57.0  1600.0  20.0  -6.0  1031.0 -19.0   0.0   0.9
25558   51.0   75.0  30.0   70.0  2700.0  15.0  -5.8  1025.8 -12.4   0.0   2.0
25559   46.0   88.0  24.0   63.0  1700.0  11.0  -6.0  1017.0 -17.2   0.0   1.5
25560   35.0  172.0  27.0  118.0  1400.0   2.0  -6.6  1031.1 -16.1   0.0   2.0
25561   33.0   61.0  22.0   50.0   700.0  23.0  -5.9  1030.7 -16.9   0.0   1.9

In [17]:
df.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [18]:
# df.set_index('datetime')

In [19]:
df.shape

(25562, 11)

In [20]:

# train = df1[df1['datetime']<'2016']
# # train = train.set_index('Datetime')
# train = train.drop(['datetime'],axis=1)
# train.tail()

In [21]:
# train.info()

In [22]:
# test = df1[df1['datetime']>'2016']
# test = test.drop(['datetime'],axis=1)
# test.head()

In [23]:
# test.info()

In [24]:
# X = df1.iloc[:, 1:].values
# y = df1.iloc[:, 0].values

In [25]:
X= df.drop('PM2.5',axis=1)
X

        PM10   SO2    NO2      CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0        4.0   4.0    7.0   300.0  77.0   8.6  1023.0 -18.8   0.0   4.4
1        8.0   4.0    7.0   300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2        7.0   5.0   10.0   300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3        6.0  11.0   11.0   300.0  52.0  -1.4  1024.5 -19.4   0.0   3.1
4        3.0   9.0   12.0   200.0  72.0   5.4  1023.4 -19.5   0.0   2.0
...      ...   ...    ...     ...   ...   ...     ...   ...   ...   ...
25557   67.0  27.0   57.0  1600.0  20.0  -6.0  1031.0 -19.0   0.0   0.9
25558   75.0  30.0   70.0  2700.0  15.0  -5.8  1025.8 -12.4   0.0   2.0
25559   88.0  24.0   63.0  1700.0  11.0  -6.0  1017.0 -17.2   0.0   1.5
25560  172.0  27.0  118.0  1400.0   2.0  -6.6  1031.1 -16.1   0.0   2.0
25561   61.0  22.0   50.0   700.0  23.0  -5.9  1030.7 -16.9   0.0   1.9

[25562 rows x 10 columns]

In [26]:
y = df['PM2.5']
y

0         4.0
1         8.0
2         7.0
3         6.0
4         3.0
         ...
25557    43.0
25558    51.0
25559    46.0
25560    35.0
25561    33.0
Name: PM2.5, Length: 25562, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=30)

In [28]:
print("Size of X_train : ", X_train.shape)
print("Size of y_train : ", y_train.shape)

Size of X_train :  (19171, 10)
Size of y_train :  (19171,)

In [29]:
# X_test = test.drop(['PM2.5'],axis=1)
# X_test

In [30]:
X_train

        PM10   SO2    NO2      CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
22644   23.0   2.0   33.0   400.0  63.0  19.7  1015.9  11.7   0.0   1.6
6151   103.0  25.0   63.0  1600.0   2.0   3.9  1020.6  -1.8   0.0   0.8
17646  181.0  62.0   87.0  2400.0   2.0  -3.4  1016.9 -10.9   0.0   1.0
14551  133.0   8.0   71.0  1200.0   2.0   6.1  1023.5   2.9   0.0   1.5
13920   81.0   4.0   58.0  1000.0   2.0  10.8  1000.8  10.8   0.0   0.0
...      ...   ...    ...     ...   ...   ...     ...   ...   ...   ...
500    219.0  21.0  115.0  1600.0  14.0   5.2  1014.4  -0.2   0.0   0.7
12077  110.0   2.0   59.0  1700.0  11.0  22.7  1000.1  22.2   0.0   0.5
15277   29.0   2.0   30.0   500.0  72.0   6.9  1020.3 -16.5   0.0   2.5
4517     4.0   1.0   42.0   300.0  18.0  17.0  1008.9  16.7   0.0   0.9
5925   257.0  16.0  147.0  2400.0   8.0   3.0  1016.7   7.4   0.0   1.6

[19171 rows x 10 columns]

In [31]:
# y_test = test['PM2.5']
# y_test

In [32]:
print("Size of X_test : ", X_test.shape)
print("Size of y_test : ", y_test.shape)

Size of X_test :  (6391, 10)
Size of y_test :  (6391,)

In [33]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state  = 20)

In [34]:
from sklearn.ensemble import ExtraTreesRegressor

model = ExtraTreesRegressor(n_estimators=10,random_state=10)
model.fit(X_train,y_train)

ExtraTreesRegressor(n_estimators=10, random_state=10)

In [35]:
y_pred = model.predict(X_test)

In [36]:
model.score(X_test,y_test)

0.8942008179202029

In [37]:
# model.confusion

In [38]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 16.98535596933187
Mean Squared Error: 675.5675765764357
Root Mean Squared Error: 25.991682834638386