In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor

In [40]:
df = pd.read_csv('/content/knn_imputed_df_Aoti.csv')
df.head()

,Unnamed: 0,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [41]:
df.drop(df.columns[df.columns.str.contains("unnamed",case=False)],axis=1,inplace=True)

In [42]:
# df1 = df.drop(['No'],axis=1)

In [43]:
df.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [44]:
df = df.drop('datetime',axis=1)

In [45]:
# df['Datetime'] = pd.to_datetime(df[['year','month','day','hour']])

In [46]:
# df1 = df.drop(['year','month','day','hour'],axis=1)

In [47]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [48]:
df.tail()

       PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
35059   12.0  29.0   5.0  35.0  400.0  95.0  12.5  1013.5 -16.2   0.0   2.4
35060   13.0  37.0   7.0  45.0  500.0  81.0  11.6  1013.6 -15.1   0.0   0.9
35061   16.0  37.0  10.0  66.0  700.0  58.0  10.8  1014.2 -13.3   0.0   1.1
35062   21.0  44.0  12.0  87.0  700.0  35.0  10.5  1014.4 -12.9   0.0   1.2
35063   19.0  31.0  10.0  79.0  600.0  42.0   8.6  1014.1 -15.9   0.0   1.3

In [49]:
df.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [70]:
# df.set_index('datetime')

In [71]:
# df.shape

In [72]:

# train = df1[df1['datetime']<'2016']
# # train = train.set_index('Datetime')
# train = train.drop(['datetime'],axis=1)
# train.tail()

In [73]:
# train.info()

In [74]:
# test = df1[df1['datetime']>'2016']
# test = test.drop(['datetime'],axis=1)
# test.head()

In [75]:
# test.info()

In [76]:
# X = df1.iloc[:, 1:].values
# y = df1.iloc[:, 0].values

In [77]:
X= df.drop('PM2.5',axis=1)
X

       PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0       4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1       8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2       7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3       6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4       3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0
...     ...   ...   ...    ...   ...   ...     ...   ...   ...   ...
35059  29.0   5.0  35.0  400.0  95.0  12.5  1013.5 -16.2   0.0   2.4
35060  37.0   7.0  45.0  500.0  81.0  11.6  1013.6 -15.1   0.0   0.9
35061  37.0  10.0  66.0  700.0  58.0  10.8  1014.2 -13.3   0.0   1.1
35062  44.0  12.0  87.0  700.0  35.0  10.5  1014.4 -12.9   0.0   1.2
35063  31.0  10.0  79.0  600.0  42.0   8.6  1014.1 -15.9   0.0   1.3

[35064 rows x 10 columns]

In [78]:
y = df['PM2.5']
y

0         4.0
1         8.0
2         7.0
3         6.0
4         3.0
         ...
35059    12.0
35060    13.0
35061    16.0
35062    21.0
35063    19.0
Name: PM2.5, Length: 35064, dtype: float64

In [79]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=30)

In [80]:
print("Size of X_train : ", X_train.shape)
print("Size of y_train : ", y_train.shape)

Size of X_train :  (26298, 10)
Size of y_train :  (26298,)

In [81]:
# X_test = test.drop(['PM2.5'],axis=1)
# X_test

In [82]:
X_train

,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
512,15.000000,24.0000,66.000,600.000000,19.000000,7.6,1014.8,-9.3,0.0,2.3
2669,106.000000,30.2736,117.021,1233.333333,108.333333,24.0,1000.3,20.1,0.0,0.7
487,114.000000,6.0000,68.000,1399.000000,2.000000,0.2,1006.9,-2.0,0.0,0.7
1590,336.000000,22.0000,71.000,1700.000000,2.000000,17.4,1010.4,15.2,0.0,1.0
9798,199.000000,19.0000,107.000,1600.000000,2.000000,11.0,1012.5,4.9,0.0,1.5
...,...,...,...,...,...,...,...,...,...,...
15790,301.333333,63.0000,133.000,4800.000000,6.666667,-0.6,1028.0,-7.4,0.0,1.7
30517,52.000000,13.0000,18.000,600.000000,180.000000,30.0,1001.9,17.8,0.0,2.0
919,91.000000,6.0000,14.000,500.000000,73.000000,7.9,1007.3,-13.1,0.0,3.9
33268,68.000000,20.0000,94.000,1700.000000,72.000000,-4.2,1026.8,-13.3,0.0,0.8
4517,8.000000,1.0000,42.000,300.000000,18.000000,17.0,1008.9,16.7,0.0,0.6

In [83]:
# y_test = test['PM2.5']
# y_test

In [84]:
print("Size of X_test : ", X_test.shape)
print("Size of y_test : ", y_test.shape)

Size of X_test :  (8766, 10)
Size of y_test :  (8766,)

In [85]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state  = 20)

In [86]:
from sklearn.ensemble import ExtraTreesRegressor

model = ExtraTreesRegressor(n_estimators=10,random_state=10)
model.fit(X_train,y_train)

ExtraTreesRegressor(n_estimators=10, random_state=10)

In [87]:
y_pred = model.predict(X_test)

In [88]:
model.score(X_test,y_test)

0.9316344773645708

In [89]:
# model.confusion

In [90]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 12.782007757243898
Mean Squared Error: 457.15354172180395
Root Mean Squared Error: 21.381149214244868