In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesRegressor

In [34]:
df = pd.read_csv('/content/Miss_imputed_df_aoti.csv')
df.head()

,Unnamed: 0,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [35]:
df.drop(df.columns[df.columns.str.contains("unnamed",case=False)],axis=1,inplace=True)

In [36]:
# df1 = df.drop(['No'],axis=1)

In [37]:
df.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM,datetime
0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,4.4,2013-03-01 00:00:00
1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,4.7,2013-03-01 01:00:00
2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,5.6,2013-03-01 02:00:00
3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,3.1,2013-03-01 03:00:00
4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,2.0,2013-03-01 04:00:00

In [38]:
df = df.drop('datetime',axis=1)

In [39]:
# df['Datetime'] = pd.to_datetime(df[['year','month','day','hour']])

In [40]:
# df1 = df.drop(['year','month','day','hour'],axis=1)

In [41]:
df.head()

   PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0    4.0   4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1    8.0   8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2    7.0   7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3    6.0   6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4    3.0   3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0

In [42]:
df.tail()

       PM2.5  PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
35059   12.0  29.0   5.0  35.0  400.0  95.0  12.5  1013.5 -16.2   0.0   2.4
35060   13.0  37.0   7.0  45.0  500.0  81.0  11.6  1013.6 -15.1   0.0   0.9
35061   16.0  37.0  10.0  66.0  700.0  58.0  10.8  1014.2 -13.3   0.0   1.1
35062   21.0  44.0  12.0  87.0  700.0  35.0  10.5  1014.4 -12.9   0.0   1.2
35063   19.0  31.0  10.0  79.0  600.0  42.0   8.6  1014.1 -15.9   0.0   1.3

In [43]:
df.isnull().sum()

PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
WSPM     0
dtype: int64

In [44]:
# df.set_index('datetime')

In [45]:
df.shape

(35064, 11)

In [46]:

# train = df1[df1['datetime']<'2016']
# # train = train.set_index('Datetime')
# train = train.drop(['datetime'],axis=1)
# train.tail()

In [47]:
# train.info()

In [48]:
# test = df1[df1['datetime']>'2016']
# test = test.drop(['datetime'],axis=1)
# test.head()

In [49]:
# test.info()

In [50]:
# X = df1.iloc[:, 1:].values
# y = df1.iloc[:, 0].values

In [51]:
X= df.drop('PM2.5',axis=1)
X

       PM10   SO2   NO2     CO    O3  TEMP    PRES  DEWP  RAIN  WSPM
0       4.0   4.0   7.0  300.0  77.0  -0.7  1023.0 -18.8   0.0   4.4
1       8.0   4.0   7.0  300.0  77.0  -1.1  1023.2 -18.2   0.0   4.7
2       7.0   5.0  10.0  300.0  73.0  -1.1  1023.5 -18.2   0.0   5.6
3       6.0  11.0  11.0  300.0  72.0  -1.4  1024.5 -19.4   0.0   3.1
4       3.0  12.0  12.0  300.0  72.0  -2.0  1025.2 -19.5   0.0   2.0
...     ...   ...   ...    ...   ...   ...     ...   ...   ...   ...
35059  29.0   5.0  35.0  400.0  95.0  12.5  1013.5 -16.2   0.0   2.4
35060  37.0   7.0  45.0  500.0  81.0  11.6  1013.6 -15.1   0.0   0.9
35061  37.0  10.0  66.0  700.0  58.0  10.8  1014.2 -13.3   0.0   1.1
35062  44.0  12.0  87.0  700.0  35.0  10.5  1014.4 -12.9   0.0   1.2
35063  31.0  10.0  79.0  600.0  42.0   8.6  1014.1 -15.9   0.0   1.3

[35064 rows x 10 columns]

In [52]:
y = df['PM2.5']
y

0         4.0
1         8.0
2         7.0
3         6.0
4         3.0
         ...
35059    12.0
35060    13.0
35061    16.0
35062    21.0
35063    19.0
Name: PM2.5, Length: 35064, dtype: float64

In [53]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=30)

In [54]:
print("Size of X_train : ", X_train.shape)
print("Size of y_train : ", y_train.shape)

Size of X_train :  (26298, 10)
Size of y_train :  (26298,)

In [55]:
# X_test = test.drop(['PM2.5'],axis=1)
# X_test

In [56]:
X_train

        PM10   SO2    NO2      CO     O3  TEMP    PRES  DEWP  RAIN  WSPM
512     15.0  24.0   66.0   600.0   19.0   7.6  1014.8  -9.3   0.0   2.3
2669   106.0  30.3  117.0  1559.0   40.8  24.0  1000.3  20.1   0.0   0.7
487    114.0   6.0   68.0  1399.0    2.0   0.2  1006.9  -2.0   0.0   0.7
1590   336.0  22.0   71.0  1700.0    2.0  17.4  1010.4  15.2   0.0   1.0
9798   199.0  19.0  107.0  1600.0    2.0  11.0  1012.5   4.9   0.0   1.5
...      ...   ...    ...     ...    ...   ...     ...   ...   ...   ...
15790   86.7  23.4   72.0  1616.0   16.5  -0.6  1028.0  -7.4   0.0   1.7
30517   52.0  13.0   18.0   600.0  180.0  30.0  1001.9  17.8   0.0   2.0
919     91.0   6.0   14.0   500.0   73.0   7.9  1007.3 -13.1   0.0   3.9
33268   68.0  20.0   94.0  1700.0   72.0  -4.2  1026.8 -13.3   0.0   0.8
4517     8.0   1.0   42.0   300.0   18.0  17.0  1008.9  16.7   0.0   0.6

[26298 rows x 10 columns]

In [57]:
# y_test = test['PM2.5']
# y_test

In [58]:
print("Size of X_test : ", X_test.shape)
print("Size of y_test : ", y_test.shape)

Size of X_test :  (8766, 10)
Size of y_test :  (8766,)

In [59]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state  = 20)

In [60]:
from sklearn.ensemble import ExtraTreesRegressor

model = ExtraTreesRegressor(n_estimators=10,random_state=10)
model.fit(X_train,y_train)

ExtraTreesRegressor(n_estimators=10, random_state=10)

In [61]:
y_pred = model.predict(X_test)

In [62]:
model.score(X_test,y_test)

0.9371292226973762

In [63]:
# model.confusion

In [64]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 12.330146018708648
Mean Squared Error: 416.61590515628563
Root Mean Squared Error: 20.41117108733072